<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Giao_diện.Properties.Settings.DA_PTTKConnectionString"
            connectionString="Data Source=MANHDUYDL\SQLEXPRESS;Initial Catalog=DA_PTTK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9133/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="Service.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="WarningMinutes_value" value="0.5"/>
    <add key="MaxMinutesIdle_value" value="1"/>
  </appSettings>
</configuration>